
:root {
     --background-color: #2C3A47; 
     --text-color: #F8EFBA; 
}

body {
    text-align: center;
    font-family: 'Fira Code', monospace;
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a:hover {
    filter: saturate(150%);
}
