
/* for temperatures.html */
body {
    /* deal with the important TODO */
    background-color: white !important;
}

.container {
    width: 800px;
    height: 500px;
    outline: 1px solid rebeccapurple;
}