
:root {
     --dark-color: #2C3A47; 
     --light-color: #F8EFBA; 
}

body {
    font-family: 'Fira Code', monospace;
    background: var(--light-color);
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
}

a:hover {
    filter: saturate(150%);
}

section {
    text-align: center;
}

.camera img {
    width: 800px;
    height: auto;
}

