.pi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pi-container section {
  display: block;
  text-align: left;
  width: 25em;
}

.pi-container li {
  list-style-type: none;
}