

{% extends "_base.html" %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js" integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A==" crossorigin="anonymous"></script>
  <script src="static/temperature_data.js"></script>
  <link rel="stylesheet" type="text/css" href="static/temperatures.css" />
{% endblock %}
{% block title %}Historic Temperatures {% endblock %}
{% block body %}
<h1>Historic Temperatures</h1>

<div class="container">
  <canvas id="chart" height=400 width=600 />
</div>
{% endblock %}