{% extends "_base.html" %}

{% block title %}Raspbery Pi {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="static/pi.css" />
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Raspberry Pi ({{stats["node"]}})</h1>
        <section>
            <h2>uptime</h2>
            <ul><li>{{stats["uptime"]}}</li></ul>
        </section>
        <section>
            <h2>OS info</h2>
            <ul>
                <li>{{stats["memory"]}} of memory used</li>
                <li>{{stats["cpu"]}} of CPU used</li>
                <li>cpu temperature {{stats["temperature"] | safe}}</li>
                <li>fan speed {{stats["fanspeed"]}}</li>
            </ul>
        </section>
        <section>
            <h2>disk space</h2>
            <ul>
                <li>{{stats["disk"]["total"]}} total</li>
                <li>{{stats["disk"]["used"]}} used</li>
                <li>{{stats["disk"]["available"]}} available</li>
            </ul>
        </section>
    </div>
</main>
{% endblock %}