[Unit]
Description=Reads temperatures from probes every minute and records to a file

[Service]
Type=simple
ExecStart=python3 /home/pi/repos/temperature-probe/record-temperatures.py
Restart=on-failure
User=pi
WorkingDirectory=/home/pi/repos/temperature-probe

[Install]
WantedBy=multi-user.target

