[Unit]
Description=Takes a picture each hour

[Timer]
OnCalendar=*-*-* 0:00:00
OnCalendar=*-*-* 1:00:00
OnCalendar=*-*-* 2:00:00
OnCalendar=*-*-* 3:00:00
OnCalendar=*-*-* 4:00:00
OnCalendar=*-*-* 5:00:00
OnCalendar=*-*-* 6:00:00
OnCalendar=*-*-* 7:00:00
OnCalendar=*-*-* 8:00:00
OnCalendar=*-*-* 9:00:00
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 11:00:00
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 13:00:00
OnCalendar=*-*-* 14:00:00
OnCalendar=*-*-* 15:00:00
OnCalendar=*-*-* 16:00:00
OnCalendar=*-*-* 17:00:00
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 20:00:00
OnCalendar=*-*-* 21:00:00
OnCalendar=*-*-* 22:00:00
OnCalendar=*-*-* 23:00:00
OnCalendar=*-*-* 0:30:00
OnCalendar=*-*-* 1:30:00
OnCalendar=*-*-* 2:30:00
OnCalendar=*-*-* 3:30:00
OnCalendar=*-*-* 4:30:00
OnCalendar=*-*-* 5:30:00
OnCalendar=*-*-* 6:30:00
OnCalendar=*-*-* 7:30:00
OnCalendar=*-*-* 8:30:00
OnCalendar=*-*-* 9:30:00
OnCalendar=*-*-* 10:30:00
OnCalendar=*-*-* 11:30:00
OnCalendar=*-*-* 12:30:00
OnCalendar=*-*-* 13:30:00
OnCalendar=*-*-* 14:30:00
OnCalendar=*-*-* 15:30:00
OnCalendar=*-*-* 16:30:00
OnCalendar=*-*-* 17:30:00
OnCalendar=*-*-* 18:30:00
OnCalendar=*-*-* 19:30:00
OnCalendar=*-*-* 20:30:00
OnCalendar=*-*-* 21:30:00
OnCalendar=*-*-* 22:30:00
OnCalendar=*-*-* 23:30:00
Persistent=true

[Install]
WantedBy=timers.target

